---
import Avicola from "../OurClients/avicola.png";
import Condivalle from "../OurClients/Condivalle.png";
import Humanismo from "../OurClients/Humanismo.png";
import Sauzal from "../OurClients/Sauzal.png";
import SuperServicios from "../OurClients/SuperServicios.png";
---
<div class="w-full inline-flex flex-nowrap">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        <li>
            <img src={Avicola.src} alt="Avicola" />
        </li>
        <li>
            <img src={Condivalle.src} alt="Condivalle" />
        </li>
        <li>
            <img src={Humanismo.src} alt="Humanismo" />
        </li>
        <li>
            <img src={Sauzal.src} alt="Sauzal" />
        </li>
        <li>
            <img src={SuperServicios.src} alt="Super servicios" />
        </li>
        <li>
            <img src="./samsung.svg" alt="Samsung" />
        </li>
        <li>
            <img src="./quora.svg" alt="Quora" />
        </li>
        <li>
            <img src="./sass.svg" alt="Sass" />
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
        <li>
            <img src="./facebook.svg" alt="Facebook" />
        </li>
        <li>
            <img src="./disney.svg" alt="Disney" />
        </li>
        <li>
            <img src="./airbnb.svg" alt="Airbnb" />
        </li>
        <li>
            <img src="./apple.svg" alt="Apple" />
        </li>
        <li>
            <img src="./spark.svg" alt="Spark" />
        </li>
        <li>
            <img src="./samsung.svg" alt="Samsung" />
        </li>
        <li>
            <img src="./quora.svg" alt="Quora" />
        </li>
        <li>
            <img src="./sass.svg" alt="Sass" />
        </li>
    </ul>
</div>

