---
import { Image } from 'astro:assets';
import Sauzal from './Sauzal.png';
import Cotecnova from './Cotecnova.png';
import SuperServicios from './SuperServicios.png';
---

<div class="flex justify-between px-14 bg-gray-200 py-5">
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={Sauzal} alt='Hello' width={150} heigth={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={Cotecnova} alt='Hello' width={200} heigth={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100} heigth={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100} heigth={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100} heigth={100}/>
</div>