---
import { Image } from 'astro:assets';
import Sauzal from './Sauzal.png';
import Cotecnova from './Cotecnova.png';
import SuperServicios from './SuperServicios.png';
---

<div class="flex justify-between gap-5 px-14 bg-gray-200 py-5 overflow-hidden" id='aboutus'>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={Sauzal} alt='Hello' width={150}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={Cotecnova} alt='Hello' width={200}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100}/>
    <Image class='grayscale hover:grayscale-0 transition-all cursor-pointer' src={SuperServicios} alt='Hello' width={100}/>
</div>